extends ./layout.jade

block contenido
	div(class='container' style='margin-top: 50px;')
		div(class='col-md-6 col-md-offset-3')
			div(class='panel panel-info')
				div(class='panel-heading')
					h2.text-center Curso NodeJS
				div(class='panel-body')
					div(class='btn-group' style='width: 100%;')
						a(class='btn btn-info' href='/login' style='width: 50%;') Iniciar Sesion
						a(class='btn btn-info' href='/signup' style='width: 50%;') Registrarse
